h1 {
  text-align: center;
  color: #37c5b2;
}

h3 {
  text-align: center;
  color: green;
}

.projects {
  margin: 0px auto;
  width: 50%;
}
.project-links {
  margin: 0px auto;
  text-align: left;
  width: 250px;
}

ul {
  list-style-position: inside;
}
