* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

:root {
  --color1: #1a5d1a;
  --color2: #f1c93b;
  --color3: #fbd85d;
  --color4: #fae392;
  --color5: #412518;
  --color6: #e58a00;
}

.header {
  background-color: var(--color4);
  padding-top: 6rem;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-vertical-center {
  justify-content: center;
  align-items: center;
}

.main-nav-list {
  list-style: none;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  font-size: 1.8rem;
}

.section-hero {
  background-color: var(--color4);
  height: 100vh;
  margin-top: -6rem;
}

.heading-primary {
  font-size: 9.6rem;
}

.pineapple {
  font-family: "Dancing Script";
  color: var(--color6);
}

.chocolate {
  font-family: "Gluten";
  color: var(--color5);
}
